* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

.messages-wrap {
  width: 60%;
  height: 50px;
  position: absolute;
  top: 15vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.9;
  border-radius: 3px;
  z-index: 11;
}

@media screen and (max-width: 450px) {
  .messages-wrap {
    width: 80%;
  }
}

.messages-wrap p {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 450px) {
  .messages-wrap p {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .messages-wrap p {
    font-size: 12px;
  }
}

.success {
  background-color: #98f798;
}

.info {
  background-color: #cc2727;
}

.info p {
  color: #ffffff;
}

#messagesWrap {
  /* Firefox */
  -webkit-animation: hideAnimation 0s ease-in 4s forwards;
  /* Safari and Chrome */
  /* Opera */
  animation: hideAnimation 0s ease-in 4s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes hideAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.nav {
  height: 10vh;
  width: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200px;
}

.nav .logo-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Syne Mono", monospace;
  color: #222831;
  font-size: 32px;
}

.nav .logo-container .logo p {
  margin-left: 5px;
}

.nav .logo-container .logo span {
  color: #393e46;
}

.nav .menu {
  width: 85vw;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 700px;
}

.nav .menu__ul__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .menu__ul__li--a {
  color: #222831;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .menu__ul__li--a:hover {
  color: #393e46;
}

.nav .menu .auth-ul {
  width: 200px;
}

.nav .menu .auth-ul #authUserNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.nav .menu .auth-ul #authUserNav i {
  cursor: pointer;
  padding-left: 4px;
  padding-bottom: 5px;
}

.nav .menu .auth-ul .navDropDownMenu {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  bottom: -200px;
  right: 0;
  width: 240px;
  height: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  padding: 20px;
}

.nav .menu .auth-ul .navDropDownMenu__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #ebebeb;
  padding: 15px 0px;
}

.nav .menu .auth-ul .navDropDownMenu__item .email {
  font-size: 12px;
}

.nav .menu .auth-ul .navDropDownMenu__item .profileLink {
  margin-bottom: 8px;
}

.nav .menu .auth-ul .navDropDownMenu__item .logout {
  border-bottom: none;
  color: #ff7474;
}

.nav .menu .auth-ul .navDropDownMenu .logout-item {
  border-bottom: none;
}

.nav .menu .auth-ul #singUpBtn {
  background-color: #393e46;
  height: 45px;
  width: 90px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav .menu .auth-ul #singUpBtn:hover {
  background-color: #222831;
}

.nav .menu .auth-ul #singUpBtn a {
  color: #ffffff;
}

.home {
  min-height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__search-wrap {
  width: 100%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  height: 60vh;
}

.home__search-wrap__content {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(1px) brightness(0.2);
          backdrop-filter: blur(1px) brightness(0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__search-wrap__content--title {
  color: #ffffff;
  font-size: 42px;
  margin-top: 120px;
  width: 300px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Syne Mono", monospace;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home__search-wrap__content--subtitle {
  color: #ffffff;
  font-size: 26px;
  margin-top: 150px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__search-wrap__content--subtitle #txtChange {
  font-weight: 700;
}

.home__search-wrap__content--subtitle #txtChange::before {
  margin: 0 10px;
  content: "";
  letter-spacing: .15em;
  white-space: nowrap;
  /* Keeps the content on a single line */
  -webkit-animation: animate 8s infinite linear;
          animation: animate 8s infinite linear;
}

@-webkit-keyframes animate {
  0% {
    content: "Faculty";
  }
  50% {
    content: "University";
  }
  100% {
    content: "Lecturer";
  }
}

@keyframes animate {
  0% {
    content: "Faculty";
  }
  50% {
    content: "University";
  }
  100% {
    content: "Lecturer";
  }
}

.home__search-wrap__content .brd-b-light {
  border-bottom: 1px solid #f1f1f1;
}

.home__search-wrap__content .search-wrap {
  margin-top: 50px;
  position: relative;
  width: 580px;
  height: 55px;
}

.home__search-wrap__content .search-wrap__result-cont {
  position: absolute;
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.267);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.267);
  top: 0px;
  border-radius: 30px 30px 0px 0px;
  z-index: -1;
  padding-top: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__search-wrap__content .search-wrap__result-cont .result-item {
  padding: 20px;
  height: 100px;
  border: 2px 0px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #222831;
  cursor: pointer;
}

.home__search-wrap__content .search-wrap__result-cont .result-item:hover {
  background-color: #f1f1f1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home__search-wrap__content .search-wrap__result-cont .result-item__image-wrap {
  width: 50px;
  margin-right: 20px;
}

.home__search-wrap__content .search-wrap__result-cont .result-item__img {
  max-width: 100%;
}

.home__search-wrap__content .search-wrap__result-cont .result-item__not-found-wrap {
  padding: 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__search-wrap__content .search-wrap__result-cont .result-item__not-found-wrap p {
  font-size: 16px;
  color: #c0b8c3;
}

.home__search-wrap__content .search-wrap__input {
  border-radius: 50px;
  border: none;
  outline: none;
  text-indent: 70px;
  font-size: 22px;
  height: 100%;
  width: 100%;
}

.home__search-wrap__content .search-wrap i {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home__overview {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1000px) {
  .home__overview {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

.home__overview--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .home__overview--item i {
    font-size: 2rem;
  }
}

.home__overview--item .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home__overview--item .image i {
  margin-bottom: 20px;
}

.home__overview--item .title {
  width: 250px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .home__overview--item .title {
    font-size: 12px !important;
    width: 100% !important;
  }
}

.footer {
  width: 100%;
  height: 35vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 100px;
}

@media screen and (max-width: 1000px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100% !important;
    padding-left: 5vw;
  }
}

.footer .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .footer .footer-item {
    margin-bottom: 30px;
  }
}

.footer .footer-item .logo {
  font-size: 32px;
  font-weight: 700;
  font-family: "Syne Mono", monospace;
  margin-bottom: 30px;
}

.footer .footer-item h2 {
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 8px;
}

.footer .footer-item p {
  margin: 6px 0;
  font-size: 16px;
  color: #dddddd;
}

.footer .footer-item a {
  margin: 7px 0;
  color: #dddddd;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer .footer-item a:hover {
  color: #fff;
}

.footer .logo-cont {
  width: 300px;
}

.footer .logo-cont .copyright {
  margin-top: 20px;
  color: #c5c5c5;
  color: #eabf9f;
}

.footer .social-f {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
}

.universities {
  min-height: 90vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.universities__title-wrap {
  margin-top: 100px;
  width: 80vw;
}

.universities__title-wrap__title {
  font-size: 26px;
  font-weight: 700;
}

.universities__list-wrap {
  margin-top: 100px;
  width: 80vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1.5rem;
  cursor: pointer;
}

.universities__list-wrap__box {
  -webkit-box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.055);
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.055);
  border-radius: 10px;
  width: 350px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #f2f8f9;
  position: relative;
}

.universities__list-wrap__box:hover {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.universities__list-wrap__box:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}

.universities__list-wrap__box .logo-wrap {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-right: 1px solid #cccccc;
  margin: 3px;
}

.universities__list-wrap__box .logo-wrap .logo {
  max-width: 100%;
}

.universities__list-wrap__box .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.universities__list-wrap__box .title-wrap .title {
  font-size: 16px;
  font-weight: 700;
  width: 90%;
}

.lecturers {
  min-height: 90vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lecturers__title-wrap {
  margin-top: 100px;
  width: 80vw;
}

.lecturers__title-wrap__title {
  font-size: 26px;
  font-weight: 700;
}

.lecturers__list-wrap {
  margin-top: 100px;
  width: 80vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1.5rem;
  cursor: pointer;
}

.lecturers__list-wrap__box {
  -webkit-box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.055);
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.055);
  border-radius: 10px;
  width: 350px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #f2f8f9;
  position: relative;
}

.lecturers__list-wrap__box:hover {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.lecturers__list-wrap__box:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}

.lecturers__list-wrap__box .logo-wrap {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.lecturers__list-wrap__box .logo-wrap .logo {
  width: 100%;
  height: 100%;
}

.lecturers__list-wrap__box .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.lecturers__list-wrap__box .title-wrap:hover .title {
  color: #222831;
}

.lecturers__list-wrap__box .title-wrap .title {
  font-size: 16px;
  font-weight: 700;
  color: #393e46;
  width: 90%;
}

.auth-wrap {
  width: 100%;
  min-height: 90vh;
  position: relative;
  overflow: hidden;
}

.auth-wrap .form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin: 200px auto 0px auto;
  z-index: 10;
  padding: 50px;
  background-color: #ffffff;
}

@media screen and (max-width: 450px) {
  .auth-wrap .form-wrap {
    width: 90%;
    padding: 20px;
  }
}

.auth-wrap .form-wrap__header {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 450px) {
  .auth-wrap .form-wrap__header {
    width: 90%;
  }
}

.auth-wrap .form-wrap__header h1 {
  font-size: 32px;
  font-weight: 700;
}

.auth-wrap .form-wrap__header p {
  font-size: 16px;
  color: #c0b8c3;
  padding-top: 15px;
}

.auth-wrap .form-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.auth-wrap .form-wrap form .session-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.auth-wrap .form-wrap form .session-input-group label {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 450px) {
  .auth-wrap .form-wrap form .session-input-group label {
    width: 90%;
  }
}

.auth-wrap .form-wrap form .session-input-group input {
  width: 100%;
  height: 50px;
  border: none;
  text-indent: 13px;
  border-radius: 1px;
  outline: none;
  color: #393e46;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.301);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.301);
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 450px) {
  .auth-wrap .form-wrap form .session-input-group input {
    width: 90%;
  }
}

.auth-wrap .form-wrap form .session-input-group input:focus {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.auth-wrap .form-wrap form .session-input-group button {
  width: 100%;
  background-color: #222831;
  border-radius: 1px;
  color: #ffffff;
  font-size: 20px;
  height: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 450px) {
  .auth-wrap .form-wrap form .session-input-group button {
    width: 90%;
  }
}

.auth-wrap .form-wrap form .session-input-group button:hover {
  background-color: #000;
}

.auth-wrap .form-wrap form .session-input-group .errorlist {
  text-indent: 2px;
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .auth-wrap .form-wrap form .session-input-group .errorlist {
    width: 90%;
  }
}

.auth-wrap .form-wrap form .session-input-group .errorlist li {
  font-size: 12px;
  color: #ff7474;
}

.auth-wrap .form-wrap form .split {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0px;
}

.auth-wrap .form-wrap form .split__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 45%;
  margin-bottom: 25px;
}

@media screen and (max-width: 450px) {
  .auth-wrap .form-wrap form .split__wrap {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .auth-wrap .form-wrap form .split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
}

.auth-wrap .form-wrap form .form-recover-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 450px) {
  .auth-wrap .form-wrap form .form-recover-section {
    padding-bottom: 50px;
    width: 90%;
  }
}

.auth-wrap .form-wrap form .form-recover-section small {
  font-size: 12px;
  color: #c0b8c3;
}

.auth-wrap .form-wrap form .form-recover-section a {
  font-size: 12px;
  padding-left: 5px;
  color: #393e46;
}

.auth-wrap .register {
  margin-top: 50px;
}

.auth-wrap .updateForm {
  margin: 0px;
}

.auth-wrap .updateForm text,
.auth-wrap .updateForm a {
  display: none;
}

.auth-wrap .updateForm .img-upload {
  position: relative;
}

.auth-wrap .updateForm .img-upload input {
  position: absolute;
  top: 25px;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
  background-color: red;
}

.auth-wrap .updateForm .img-upload .uploadBtn {
  position: absolute;
  top: 25px;
  background-color: #fff;
  width: 100%;
  height: 50px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-wrap .updateForm .img-upload .uploadBtn h4 {
  font-size: 16px;
  font-weight: 700;
}

.auth-wrap .updateForm .img-upload .uploadBtn i {
  margin-left: 5px;
}

.auth-wrap .updateForm .img-upload .uploadBtn:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: yellow;
}

.reset-form ul {
  display: none;
}

.reset-form .errorlist {
  padding-bottom: 8px;
}

.update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.update .form-wrap {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  margin: 0px;
  padding: 0px;
}

.update .update-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 350px;
}

@media screen and (max-width: 1200px) {
  .update .update-image {
    width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .update .update-image {
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .update .update-image {
    width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .update .update-image {
    width: 150px;
  }
}

.update .change-password {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ff946b;
  color: #ffffff;
  width: 100%;
  border-radius: 7px;
  font-size: 20px;
  height: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 450px) {
  .update .change-password {
    width: 90%;
  }
}

.update .change-password:hover {
  background-color: #ff7474;
}

.profile {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.profile .account-info-header {
  width: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .account-info-header__image-wrap {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .account-info-header__image-wrap__image {
  max-width: 100%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.profile .account-info-header__details-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.profile .account-info-header__details-wrap__username {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.profile .account-info-header__details-wrap__email {
  color: #393e46;
  font-weight: lighter;
}

body {
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=main.css.map */