@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.university {
    min-height: 90vh;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: $elegant-white;

    &__content {
        margin-top: 100px;
        width: 60vw;
        display: flex;
        flex-direction: column;

        &--header-box {
            width: 100%;
            height: 150px;
            display: flex;
            border-radius: 1px solid #bdbdbd;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
            background-color: $background-color;

            & .logo-wrap {
                position: relative;
                width: 300px;
                height: 100%;

                & .logo-circle {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    background-color: $primary-color;
                    // background-color: $background-color;
                    // border: 1px solid $primary-color;
                    border-radius: 50%;
                    overflow: hidden;
                    width: 170px;
                    height: 170px;
                    top: -40px;
                    right: 50%;
                    transform: translateX(50%);

                    &__logo {
                        width: auto;
                        height: 100%;
                        padding: 30px;
                    }
                }
            }

            & .details {
                width: 80%;
                margin-top: 35px;
                display: flex;
                flex-direction: column;

                &__top-wrap {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    &--title {
                        @include primaryTitle(mega);
                        margin-bottom: 20px;
                    }

                    &--short-title {
                        color: $secondary-color;
                        font-size: size(l);
                        font-weight: bold;
                        letter-spacing: 1px;

                        & span {
                            padding: 5px;
                            border-radius: 5px;
                            background-color: $secondary-bg-color;
                            color: $background-color;
                        }
                    }
                }
            }
        }

        &--navigation-box {
            height: 60px;
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $primary-color;
            margin-bottom: 10px;

            & .nav-btn {
                color: #dddddd;
                font-size: size(m);
                font-weight: bold;
                cursor: pointer;
            }

            & .activeNavBtn {
                border-bottom: 1px solid #fff;
                padding-bottom: 5px;
                color: $background-color;
                @include transition-ease;
            }
        }

        &__modal-about {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border: 1px solid rgb(207, 207, 207);
            border-top: none;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
            display: none;

            &--title {
                @include primaryTitle(m);
                margin-bottom: 10px;
                text-align: left;
            }

            &--text {
                display: flex;
                line-height: 1.5rem;
                font-family: 'Raleway', sans-serif;
            }
        }

        &__modal-contact {
            border: 1px solid rgb(207, 207, 207);
            border-top: none;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
            flex-direction: column;
            width: 100%;
            padding: 20px;
            padding-top: 40px;
            display: none;

            &__box {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                & .title {
                    color: $primary-color;
                    font-size: size(m);
                    width: 170px;
                    font-family: 'Roboto', sans-serif;
                    display: flex;
                    font-weight: 500;

                    & .icon-cont {
                        width: 25px;
                    }
                }

                & .content {
                    color: $primary-color;
                }

                & #website {
                    color: $dark-blue;
                    padding-left: 10px;
                }
            }
        }

        &__modal-review {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border: 1px solid rgb(207, 207, 207);
            border-top: none;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);

            & .review-toggle-btn {
                width: 100%;
                display: flex;
                margin: 70px 0px 15px 0px;

                &__btn {
                    height: 40px;
                    width: 150px;
                    background-color: $secondary-bg-color;
                    color: white;
                    padding: 10px;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: size(m);
                    font-family: 'Roboto', sans-serif;

                    &:hover {
                        @include transition-ease;
                        background-color: $secondary-color;
                    }
                }
            }

            & .review-form {
                height: 150px;
                display: none;
                flex-direction: column;

                width: 100%;

                & .createReviewForm {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    &__btn {
                        height: 35px;
                        background-color: $secondary-color;
                        color: #fff;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        letter-spacing: 1px;
                        border-radius: 0px 0px 5px 5px;

                        &:hover {
                            @include transition-ease;
                            background-color: black;
                        }
                    }

                    &__anounymous {
                        @include primaryTitle(xm);
                        color: $secondary-color;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        margin: 15px 0px;
                        display: flex;
                        align-items: center;

                        & label {
                            margin-right: 5px;
                        }

                        & input {
                            margin-right: 10px;
                        }
                    }

                    &__textcont {
                        border: none;
                        border: 1px solid $muted;
                        padding: 10px;
                        outline: 0;
                        resize: none;
                        border-radius: 5px 5px 0px 0px;
                    }

                    &__label {
                        @include primaryTitle(xm);
                        color: $secondary-color;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        margin: 10px 0px;
                    }

                    &__star-cont {
                        padding-left: 5px;
                        display: flex;
                        width: 150px;
                        flex-direction: row-reverse;

                        & input {
                            display: none;
                        }

                        & label {
                            display: block;
                            cursor: pointer;
                            width: 30px;
                            position: relative;
                        }

                        & label:before {
                            content: '\f006';
                            font-family: fontAwesome;
                            position: relative;
                            display: block;
                            color: #ffa534;
                        }

                        & label:after {
                            content: '\f005';
                            font-family: fontAwesome;
                            position: absolute;
                            display: block;
                            color: #ffa534;
                            top: 0%;
                            opacity: 0;
                            transition: 0.5s;
                            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
                        }

                        & label:hover:after,
                        & label:hover ~ label:after,
                        & input:checked ~ label:after {
                            opacity: 1;
                        }
                    }
                }
            }

            & .rating-box {
                display: flex;
                height: 150px;
                align-items: center;

                &__overview {
                    display: flex;
                    width: 140px;
                    height: 140px;
                    margin-right: 50px;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;

                    &__score {
                        @include primaryTitle(giant);
                        color: $secondary-color;
                    }

                    &__starwrap {
                        position: relative;
                        display: inline-block;

                        &::before {
                            content: '\f005 \00a0 \f005 \00a0 \f005 \00a0 \f005 \00a0 \f005';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 800;
                            color: #ccc;
                        }

                        &__inner {
                            position: absolute;
                            top: 0;
                            left: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 0;

                            &::before {
                                content: '\f005 \00a0 \f005 \00a0 \f005 \00a0 \f005 \00a0 \f005';
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 800;
                                color: #ffa534;
                            }
                        }
                    }

                    &__title {
                        @include primaryTitle(xm);
                        color: $secondary-color;
                    }

                    &__subtitle {
                        @include mutedText(xm);
                    }
                }
            }

            & .rating-bars {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &__line {
                    display: flex;
                    width: 100%;
                    height: 30px;
                    align-items: center;

                    &__bar-cont {
                        width: 60%;
                        margin-top: 3px;
                        background-color: #f1f1f1;
                        display: flex;
                        align-items: center;
                        color: white;
                        margin-right: 20px;

                        .bar-5 {
                            width: 60%;
                            height: 7px;
                            background-color: #b68973;
                        }
                        .bar-4 {
                            width: 30%;
                            height: 7px;
                            background-color: #b68973;
                        }
                        .bar-3 {
                            width: 10%;
                            height: 7px;
                            background-color: #b68973;
                        }
                        .bar-2 {
                            width: 4%;
                            height: 7px;
                            background-color: #b68973;
                        }
                        .bar-1 {
                            width: 15%;
                            height: 7px;
                            background-color: #b68973;
                        }
                    }

                    &--percentage {
                        padding-top: 4px;
                        margin-left: 5px;
                        font-family: 'Roboto', sans-serif;
                        // padding-left: 20px;
                        color: $dark-blue;
                        font-size: size(xm);
                    }
                }
            }

            .reviews-header {
                margin-top: 30px;
                display: flex;
                width: 100%;
                flex-direction: column;
                // background-color: yellow;

                &__title {
                    @include primaryTitle(xl);
                    margin-bottom: 20px;
                }

                &__search-box {
                    width: 100%;
                    // background-color: yellow;
                    display: flex;
                    justify-content: space-between;
                    position: relative;

                    &--input {
                        width: 80%;
                        height: 45px;
                        text-indent: 20px;
                        font-size: size(m);
                        font-family: 'Roboto', sans-serif;
                        border-radius: 0px 7px 7px 0px;
                        border: 1px solid $secondary-color;
                        outline: none;
                    }

                    &--button {
                        position: absolute;
                        height: 45px;
                        width: 70px;
                        background-color: $secondary-color;
                        right: 20%;
                        color: white;
                        border-radius: 0px 7px 7px 0px;

                        &:hover {
                            @include transition-ease;
                            background-color: $primary-color;
                        }
                    }

                    &--rating-filter {
                        width: 15%;
                        border-radius: 3px;
                        padding: 10px;
                        color: $secondary-color;
                    }
                }
            }

            .reviews-box {
                margin-top: 30px;
                display: flex;
                flex-direction: column;

                &__review {
                    display: flex;
                    margin-bottom: 50px;
                    padding-bottom: 25px;
                    border-bottom: 1px solid #e9e9e9;

                    &__profile-wrap {
                        width: 80px;
                        // background-color: yellow;

                        &__img-wrap {
                            width: 100%;

                            &__img {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }
                        }
                    }

                    &__review-box {
                        // background-color: wheat;
                        width: 90%;
                        display: flex;
                        flex-direction: column;

                        &__header {
                            // background-color: red;
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;

                            &__name-cont {
                                width: 100%;
                                // background-color: blue;
                                margin-bottom: 10px;

                                &__name {
                                    @include primaryTitle(r);
                                }
                            }

                            &--rating {
                                display: flex;

                                &__stars {
                                    margin-right: 15px;
                                }

                                &__date {
                                    padding-top: 2px;
                                    @include mutedText(xm);
                                }
                            }
                        }

                        &__text-wrap {
                            // background-color: yellow;
                            width: 80%;
                            line-height: 1.5rem;
                            color: $secondary-color;
                            font-size: size(xm);
                        }
                    }
                }
            }
        }
    }
}

.filled {
    color: #ffa534;
}
