.universities {
    min-height: 90vh;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title-wrap {
        margin-top: 100px;
        width: 80vw;

        &__title {
            @include primaryTitle(xxl);
        }
    }

    &__list-wrap {
        margin-top: 100px;
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 1.5rem;
        cursor: pointer;
        // background-color: red;

        &__box {
            box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.055);
            border-radius: 10px;
            width: 350px;
            height: 150px;
            display: flex;
            @include transition-ease;
            border: 1px solid #f2f8f9;
            position: relative;

            &:hover {
                transition: all 0.2s ease-out;
                box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
                top: -4px;
                border: 1px solid #cccccc;
                background-color: white;
            }

            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                top: -16px;
                right: -16px;
                background: #00838d;
                height: 32px;
                width: 32px;
                border-radius: 32px;
                transform: scale(2);
                transform-origin: 50% 50%;
                transition: transform 0.15s ease-out;
            }

            & .logo-wrap {
                width: 200px;
                height: 100%;
                @include flex(center, row);
                border-right: 1px solid #cccccc;
                margin: 3px;

                & .logo {
                    max-width: 100%;
                }
            }

            & .title-wrap {
                // background-color: yellow;
                @include flex(center, column);
                width: 100%;

                & .title {
                    @include primaryTitle(m);
                    width: 90%;
                }
            }
        }
    }
}
