$background-color: #ffffff;
$secondary-bg-color: #00adb5;
$elegant-white: #f9f7ff;
$primary-color: #222831;
$secondary-color: #393e46;
$light-green: #4ad97f;
$green: #49d97f;
$lime-green: #41db7b;
$super-light-green: #98f798;
$dark-green: #35a15e;
$light-blue: #70b3ff;
$blue: #4199ff;
$dark-blue: #3373bd;
$orange-red: #ff946b;
$red: #ff7474;
$yellow: #fff69b;
$muted: #c0b8c3;
$pink: #f2c8d6;
$light-pink: #f5e6ef;
$cream: #eabf9f;


$primary-font-family: 'Open Sans', sans-serif;
$logo-font-family: 'Syne Mono', monospace;

$bold-font-family: 'Montserrat', sans-serif;
$elegant-font-family: 'Shippori Mincho B1', serif;
$poll-font-family: 'Shippori Mincho B1', serif;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$font-size: (
    'xs': 10px,
    's': 12px,
    'xm': 14px,
    'm': 16px,
    'r': 18px,
    'l': 20px,
    'xl': 22px,
    'xxl': 26px,
    'mega': 32px,
    'megi': 42px,
    'giant': 62px,
    
);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
};

@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}


@function size($size-name) {
    @return map-get($font-size, $size-name)
};

@mixin flex($justify, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
};


@mixin primaryTitle($size) {
    font-size: size($size);
    font-weight: weight(bold);
}

@mixin mutedText($size) {
    font-size: size($size);
    color: $muted;
}