{% extends 'pages/base.html' %}
{% load static %}
{% block content %}    
<div class="auth-wrap" style="background-image: url('{% static 'pages/images/auth/login-bg.JPG' %}');">
    <div class="form-wrap register" id="formWrap">

        <header class="form-wrap__header">
            <h1>Sing Up</h1>
            <p>Complete the below form to create your account</p>
        </header>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="session-input-group">
                <label for="email">Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="session-input-group">
                <label for="username">Username</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>

            <div class="session-input-group">
                <label for="password1">Password</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>

            <div class="session-input-group">
                <label for="password2">Confirm Password</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>

            <div class="session-input-group">
                <button type="submit" title="Login">Login</button>
            </div>
            <div class="form-recover-section">
                <small class="">Already have an account ?</small> <a href="{% url 'login' %}">Login</a>
            </div>
        </form>

    </div>

    <div class="auth-wrap__shape">
    </div>
</div>
{% endblock %}