{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <section class="lecturers">

        <div class="lecturers__title-wrap">
            <h1 class="lecturers__title-wrap__title">
                <i class="fas fa-list"></i>
                List of lecturers
            </h1>
        </div>

        <div class="lecturers__list-wrap">

          {% for lecturer in lecturers %}
            <a class="lecturers__list-wrap__box" href="{% url 'lecturer' lecturer.id %}" >
                <div class="logo-wrap">
                    <img src="{{lecturer.image.url}}" alt="" class="logo">
                </div>
                <div class="title-wrap">
                    <h2 class="title">{{lecturer.first_name}}{{lecturer.last_name}}</h2>
                </div>
            </a>
          {% endfor %}

        </div>
    </section>
{% endblock %}